.bg-dark{
    background-color:#343a40 !important;
}
.text-white{
    color:#fff;
}
.bg-secondary{
    background-color:  #6c757d !important;
}
.p-3{
    padding:1rem !important;
}
.mb-5{
    margin-bottom: 3rem !important;
}
.heading{
   font-size : 50px !important;
   margin-top: -9px;
}
.mx-auto{
   margin-left: auto !important;
   margin-right: auto !important; 
}
.lead{
}
.mb-5{
   margin-bottom: 3rem !important;
}
.display-2{
   font-size: 96px;
}
.form-control{
   height:50px !important;
}
.mt-5{
   margin-top: 3rem !important;
}